<div class="new_memo_items">
  <form method="post" action="/new_memo/add">
    <div class="texts">
      <input type= "text" placeholder="Memo name" name="memo_name" class="form_item_text-input">
      <textarea name="memo_text" placeholder="Memo" class="form_item_textarea"></textarea>
      <input type= "submit" value="保存" class="form_item_submit">
    </div>
  </form>
</div>

