<form method="post" action="/new_memo/add">
    <div class="new_memo">
        <input type= "text" placeholder="Memo name" name="memo_name" class="form_item__text-input">
        <textarea name="memo_text" placeholder="Memo" class="form_item__textarea"></textarea>
        <input type= "submit" value="保存" class="form_item__submit">
    </div>
</form>
