<ul>
    <% @memo_dates.each do |memo_date| %>
    <li>
        <a href=/show_memo/<%=memo_date["memo_id"]%>><%=memo_date["memo_name"]%></a><br>
    </li>
    <% end %>
</ul>
<form method="get" action="/new_memo">
<input type= "submit" value="追加">
</form>
