<ul>
    <% @memo_dates.each do |memo| %>
    <li>
        <%= memo.memo_name %>
        <%= memo.memo_id %>
        
    </li>
    <% end %>
</ul>
<form method="get" action="/new_memo">
<input type= "submit" value="追加">
</form>
